<div class="header">
  <h1>Character Editor</h1>
  <h1>{{objectName}}</h1>
</div>

<div class="workerview">

  <canvas id="editorCanvas"></canvas>

</div>

<div class="silkInterface">
  {{{timeline}}}
  <div class="panels">
    {{{properties}}}
    {{{layers}}}
    {{{framdata}}}
  </div>
</div>
